{% extends 'base.html' %}

{% block content %}
<h2>My Timetable</h2>
<p><strong>Student:</strong> {{ student.full_name }}</p>
<p><strong>Student ID:</strong> {{ student.student_id }}</p>


<table>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Lecturer</th>
        <th>Credits</th>
        <th>Time</th>
        <th>Classroom</th>
        <th>Action</th>
    </tr>

    {% for course in courses %}
    <tr>
        <td>{{ course.code }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.lecturer }}</td>
        <td>{{ course.credits }}</td>
        <td>{{ course.weekday }} {{ course.start_time }} - {{ course.end_time }}</td>
        <td>{{ course.classroom }}</td>
        <td>
            <a class="btn btn-danger" href="{% url 'drop_course' course.id %}">Drop</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="7">No enrolled courses yet.</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}